* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Urban Heros";
    src: url(fonts/Urban\ Heroes.ttf);
}

body{
    height: 100vh;
    width: 100vw;       
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(174, 170, 220);
}

p{
    color: white;
}

h1{
    color: white;
}

.left-section{
    background-color: black;
    height: 100%;
    width: 1000px;
    background-image: url(img/ryu-chun.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.left-section p{
    color: black;
}

.title-container{
    margin-top: 200px;
    height: 150px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-container h1{
    opacity: 1;
    font-family: "Urban Heros";
    font-size: 3rem;
}

.title-container img{
    height: 90%;  
}

.right-section{
    width: 100%;
    margin-top: 215px;
    color: black;
}

.right-section h1 {
    color: black;
    margin-bottom: 20px;
    margin-left: 30px;
    font-weight: bold;
}

.right-section h2{
    align-items: center;
    margin-left: 180px;
    font-style: italic;
    margin-bottom: 50px;
}

.middle-container{
    height: 400px;
    background-color: white;
}

.bottom-container{

}
