* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif
}

p{
    color: white;
}

h1{
    color: white;
}

.left-section{
    background-color: black;
    height: 100%;
    width: 700px;
    background-image: url(img/ryu-chun.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.left-section p{
    color: black;
}

.title-container{
    margin-top: 200px;
    height: 150px;
    width: 100%;
    opacity: 50%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.right-section{
    background-color: white;
}

